BraveSoftware/
dconf/
go/
kde.org/
yay/
pulse/
rncbc.org/
htop/
Mousepad/
legcord/
rncbc.org/
session/
vesktop/
spicetify/
spotify/
xfce4/
simple-update-notifier/
systemd/
wireplumber/
pipewire/
rofi/images/
systemd/


spotify-launcher.conf
dolphinrc
kwalletrc
trashrc
pavucontrol.ini
install.log
electron-builder.json

