BraveSoftware/
dconf/
go/
kde.org/
yay/
pulse/
rncbc.org/
htop/
Mousepad/
legcord/
rncbc.org/
session/
vesktop/
spicetify/
spotify/
xfce4/
simple-update-notifier/

spotify-launcher.conf
dolphinrc
kwalletrc
trashrc
mimeapps.list
pavucontrol.ini
install.log
electron-builder.json

